.vscode
cpp/espic_1d1v/.vscode
cpp/espic_1d1v/test/*
cpp/espic_1d1v/results/*
cpp/espic_1d1v/pythoncode/*.csv
cpp/espic_1d1v/pythoncode/__pycache__
cpp/espic_1d1v/debug/build/*
!cpp/espic_1d1v/debug/build/debug.inp
!cpp/espic_1d1v/debug/build/README.md
!cpp/espic_1d1v/debug/build/espic_1d1v-debug
cpp/espic_1d1v/benchmarking/build/*
!cpp/espic_1d1v/benchmarking/build/bench.inp
!cpp/espic_1d1v/benchmarking/build/README.md
!cpp/espic_1d1v/benchmarking/build/espic_1d1v-bench
!cpp/espic_1d1v/benchmarking/build/CollectPerfData.py
!cpp/espic_1d1v/benchmarking/build/perf_data.sh
!cpp/espic_1d1v/benchmarking/build/parsePerfData.py
cpp/espic_1d1v/build/*
!cpp/espic_1d1v/build/espic1d1v.inp

rust/target/*